{% extends "base.html" %}

{% block content %}

<div>
    <h2 class="title">History</h2>
    <div class="w-50 mx-auto">

            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">DATE</th>
                  <th scope="col">PASSWORD</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="col">1</th>
                  <td>2022-08-23 11:12:46</td>
                  <td>OISFVNSPOIJjonsdoPi</td>
                </tr>
     
              </tbody>
            </table>
    </div>
</div>
{% endblock %}