{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!!!
</h1>
<div class="column is-4 is-offset-4">
    <h3 class="title">Password Generator</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }} Go to <a href="{{ url_for('auth.generation') }}">password page</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form action="/profile" method="POST">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="gateway" placeholder="Gateway Address" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Username for login" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password for login">
                </div>
            </div>
            {% if "uppercase" in chars %}
                <input type="checkbox" name="char_box" value="uppercase" checked>
                <label>Uppercase Alphabets</label><br>
            {% else %}
                <input type="checkbox" name="char_box" value="uppercase">
                <label>Uppercase Alphabets</label><br>
            {% endif %}
            {% if "lowercase" in chars %}
                <input type="checkbox" name="char_box" value="lowercase" checked>
                <label>Lowercase Alphabets</label><br>
            {% else %}
                <input type="checkbox" name="char_box" value="lowercase">
                <label>Lowercase Alphabets</label><br>
            {% endif %}
            {% if "digits" in chars %}
                <input type="checkbox" name="char_box" value="digits" checked>
                <label>Digits</label><br>
            {% else %}
                <input type="checkbox" name="char_box" value="digits">
                <label>Digits</label><br>
            {% endif %}
            {% if "symbols" in chars %}
                <input type="checkbox" name="char_box" value="symbols" checked>
                <label>Symbols</label><br>
            {% else %}
                <input type="checkbox" name="char_box" value="symbols">
                <label>Symbols</label><br>
            {% endif %}

            <div class="field">
              <div class="control">
                  <select style="width:100%; background-color: white;">
                    <option value="" disabled selected>Length of your password</option>
                    <option>4</option>
                    <option>8</option>
                    <option>12</option>
                    <option>16</option>
                    <option>20</option>
                    <option>24</option>
                    <option>28</option>
                    <option>32</option>
                    <option>36</option>
                    <option>40</option>
                  </select>
              </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Generate</button>
        </form>
    </div>
</div>
{% endblock %}
